@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card_shadow {
    box-shadow: rgba(17, 51, 90, 0.4) 0px 3px 3px 0px;
  }

  .card_shadow_hover {
    box-shadow: rgba(32, 42, 53, 0.3) 0px 1px 2px 0px;
  }

  .card_shadow_click {
    box-shadow: none;
  }

  .buttonsh {
    box-shadow: rgba(17, 51, 90, 0.4) 0px 4px 2px 0px;
  }

  .button_shadow_click {
    box-shadow: none;
  }

  .button_shadow_hover {
    box-shadow: rgba(17, 51, 90, 0.8) 0px 2px 1px 0px;
  }
}

@layer base {
  html {
    @apply !overflow-visible !p-0;
  }
  body {
    background-color: #f7f8f8;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
