@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card_shadow {
    box-shadow: rgba(17, 51, 90, 0.4) 0px 3px 3px 0px;
  }

  .card_shadow_hover {
    box-shadow: rgba(32, 42, 53, 0.8) 0px 3px 2px 0px;
  }

  .card_shadow_click {
    box-shadow: none;
  }
}

@layer base {
  html {
    @apply !overflow-visible !p-0;
  }
}
